<div
  class="fixed z-30 inset-0 overflow-y-auto"
  x-cloak
  x-show="openNew"
  x-transition.opacity
  aria-modal="true"
  aria-labelledby="modal-headline"
>
  <div class="flex items-center justify-center min-h-screen">
    <div
      class="fixed inset-0 bg-textColor/70"
      x-show="openNew"
      @click="openNew = false"
    ></div>

    <!--
      This element is to trick the browser into centering the modal contents.
    -->

    <div
      class="bg-white overflow-hidden relative shadow-xl w-full max-w-[900px] mx-[20px] p-6 rounded"
      role="dialog"
      aria-modal="true"
      aria-labelledby="Add New Address"
    >
      {% form 'customer_address', customer.new_address %}
        <div class="new-address-form">
          <div class="flex justify-between items-center mb-3">
            <h3 class="text-lg font-bold">Add New Address</h3>
            <button type="button" @click="openNew = false">
              {% render 'icon-close',
                class: 'w-5 scale-150 origin-right fill-textColor hover:fill-accent'
              %}
            </button>
          </div>
          <div class="grid md:grid-cols-2 gap-3 grid-cols-1">
						<label for="first_name" class="sr-only"> First Name </label>
						<input
							type="text"
							name="address[first_name]"
							value="{{ form.first_name }}"
							autocapitalize="words"
							required
							placeholder="First Name"
							id="first_name"
							class="input"
						>

						<label for="last_name" class="sr-only"> Last Name </label>
						<input
							type="text"
							name="address[last_name]"
							value="{{ form.last_name }}"
							id="last_name"
							required
							autocapitalize="words"
							placeholder="Last Name"
							class="input"
						>

						<label for="company" class="sr-only"> Company </label>
						<input
							type="text"
							name="address[company]"
							value="{{ form.company }}"
							id="company"
							placeholder="Company"
							autocapitalize="words"
							class="input"
						>

						<label for="phone" class="sr-only"> Phone </label>
						<input
							type="tel"
							name="address[phone]"
							value="{{ form.phone }}"
							id="phone"
							placeholder="Phone"
							autocapitalize="words"
							class="input"
						>

						<label for="country" class="sr-only"> Country </label>
						<select
							x-ref="address_country"
							name="address[country]"
							@change="province = JSON.parse($event.target.selectedOptions[0].dataset.provinces); address.country = $event.target.selectedOptions[0].text;"
							value="{{ form.country }}"
							id="country"
							placeholder="Country"
							required
							class="input"
						>
							{{ country_option_tags }}
						</select>

            <div x-show="province.length > 0">
              <label for="province" class="sr-only"> Province </label>

              <select
                name="address[province]"
                value="{{ form.province }}"
                id="province"
                placeholder="Province"
                autocapitalize="words"
                class="input"
              >
                <template x-for="item in province">
                  <option :value="item[0]" x-text="item[0]"></option>
                </template>
              </select>
						</div>

						<label for="city" class="sr-only"> City </label>
						<input
							type="text"
							name="address[city]"
							value="{{ form.city }}"
							id="city"
							placeholder="City"
							required
							autocapitalize="words"
							class="input"
						>

						<label for="address1" class="sr-only"> Address </label>
						<input
							type="text"
							name="address[address1]"
							value="{{ form.address1 }}"
							id="address1"
							placeholder="Address1"
							required
							autocapitalize="words"
							class="input"
						>

						<label for="address2" class="sr-only"> Address 2 </label>
						<input
							type="text"
							name="address[address2]"
							value="{{ form.address2 }}"
							id="address2"
							placeholder="Address2"
							autocapitalize="words"
							class="input"
						>

						<label for="zip" class="sr-only"> Zip </label>
						<input
							type="text"
							name="address[zip]"
							value="{{ form.zip }}"
							id="zip"
							placeholder="Zip"
							required
							autocapitalize="words"
							class="input"
						>
          </div>
        </div>

        <div class="flex md:flex-row flex-col justify-between mt-6 gap-5">
          <label class="whitespace-nowrap cursor-pointer flex items-center">
            {{
              form.set_as_default_checkbox
              | replace: '<input', '<input class="w-5 h-5 mr-3 accent-accent"'
            }}
            Set Address as Default
          </label>

          <button type="submit" class="button w-full">Add Address</button>
        </div>
      {% endform %}
    </div>
  </div>
</div>
