<div class="group flex flex-col">
	<a href="{{ product.url }}">
		{% if product.featured_image %}
			{{ product.featured_image | image_url: width: master | image_tag: loading: 'lazy', class: image_class }}
				{% else %}
					{{ 'product-1' | placeholder_svg_tag: image_class }}
			{% endif %}
	</a>
	<a href="{{ product.url }}">
		<h3 class="text-xl my-3 font-bold group-hover:text-accent">{{ product.title }}</h3>
	</a>
	{% render 'collection-product-price', product: product, class: 'mb-3' %}
	<form method="post" action="/cart/add" class="mt-auto">
		<input type="hidden" name="id" value="{{ product.variants.first.id }}" />
		<input min="1" type="hidden" id="quantity" name="quantity" value="1"/>
		<button 
			type="submit"
			name="add"
			class="btn"
			{% unless product.variants.first.available %}
				disabled
			{% endunless %} >
			{% unless product.variants.first.available%}
				Coming Soon
				{% else %}
					Add to Cart
			{% endunless %}
		</button>
	</form>
</div>