<!-- Desktop Menu -->
<nav class="header__menu flex justify-center md:hidden">
	<ul
		class="header__menu-nav flex gap-8"
	>
		{% for link in section.settings.menu.links %}
			{% if link.links != blank %}
				<li class="nav__item group relative" x-data="{ submenuOpen: false }">
						<p
							@click="submenuOpen = !submenuOpen"
							:class="submenuOpen && 'text-accent fill-accent'"
							class="cursor-pointer flex gap-2 fill-textColor group-hover:text-accent group-hover:fill-accent"
						>
							{{ link.title }} {% render 'icon-dropdown', class: 'w-4' %}
						</p>
						<ul
							x-show="submenuOpen"
							x-cloak
							x-transition
							@click.outside="submenuOpen = false"
							class="nav__item-submenu absolute bg-white border divide-y rounded min-w-[250px] p-3 mt-1"
						>
							{% for sublink in linklists[link.handle].links %}
								<li class="hover:text-accent py-2">
									<a href="{{ sublink.url }}">
										{{ sublink.title }}
									</a>
								</li>
							{% endfor %}
						</ul>
				</li>
			{% else %}
				<li class="nav__item">
					<a class="hover:text-accent" href="{{ link.url }}"> {{ link.title }}</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</nav>

<!-- Mobile Menu -->
<nav class="header__menu-mobile -order-1 hidden md:block" x-data="{ showBurgerMenu: false }">
	<button
		:class="showBurgerMenu ? '' : ''"
		@click="showBurgerMenu = !showBurgerMenu; document.body.classList.toggle('overflow-hidden')"
		class="header__menu-burger w-6 flex flex-col gap-1"
		type="button"
	>
		<span class="w-full h-[2px] bg-textColor"></span>
		<span class="w-full h-[2px] bg-textColor"></span>
		<span class="w-full h-[2px] bg-textColor"></span>
	</button>

	<ul
		:class="showBurgerMenu ? 'left-0' : '-left-[100vw]'"
		x-cloak
		class="header__menu-nav flex gap-[20px] transition-all top-0 flex-col absolute p-[20px] bg-accent w-screen h-screen text-white overflow-auto z-20"
	>
		<div class="flex justify-between">
			{% render 'search-input', class: 'w-10' %}
			<button
				@click="showBurgerMenu = false; document.body.classList.remove('overflow-hidden')"
			>
				{% render 'icon-close', class: 'max-w-[30px] fill-white' %}
			</button>
		</div>
		{% for link in section.settings.menu.links %}
			{% if link.links != blank %}
				<li class="nav__item group relative" x-data="{ submenuOpen: false }">
						<p
							@click="submenuOpen = !submenuOpen"
							class="flex gap-2 fill-white"
						>
							{{ link.title }} {% render 'icon-dropdown', class: 'w-4' %}
						</p>
						<ul
							x-show="submenuOpen"
							x-cloak
							x-transition
							@click.outside="submenuOpen = false"
							class="nav__item-submenu"
						>
							{% for sublink in linklists[link.handle].links %}
								<li>
									<a href="{{ sublink.url }}">
										{{ sublink.title }}
									</a>
								</li>
							{% endfor %}
						</ul>
				</li>
			{% else %}
				<li class="nav__item">
					<a href="{{ link.url }}"> {{ link.title }}</a>
				</li>
			{% endif %}
		{% endfor %}
		{%- if shop.customer_accounts_enabled -%}
			<a href="{{ routes.account_url }}" 
				title="account link"
			>
				Account
			</a>
		{%- endif -%}
	</ul>
</nav>