<div class="w-full py-6 px-3">
	<div class="border bg-white shadow-lg rounded-lg overflow-hidden">
		<a href="{{ product.url }}">
			{% if product.featured_image %}
				<div class="h-80 overflow-hidden">
					<img class="w-full h-full object-cover transition duration-300 ease-in-out hover:scale-105 transform" src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.featured_image.alt }}">
				</div>
				{% else %}
					<div class="h-80 overflow-hidden">
						{{ 'product-4' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-200 transition duration-600 ease-in-out hover:scale-150 transform' }}
					</div>
			{% endif %}
		</a>
		<div class="flex flex-col p-4">
			<a href="{{ product.url }}" class="text-gray-700 uppercase font-medium">{{ product.title | truncatewords: 7 }}</a>
			<p class="text-gray-500">{{ product.price | money }}</p>
		</div>
	</div>
</div>