
<div class="register max-w-sm mx-auto px-2 md:px-2 ">

  <div class="h-full my-6 md:my-8">
      <header class="flex justify-between items-center text-center mb-4">
        <h2 class="text-2xl uppercase w-full font-bold" tabindex="-1"> Register </h2>
      </header>
      <div class="flex items-center h-full">
        <div class="w-full">
           
            {%- form 'create_customer', novalidate: 'novalidate' -%}

              {%- if form.errors -%}
                <h4 class="" tabindex="-1" autofocus>
                  <span class="sr-only">Error </span>
									<span class="w-7 pr-2 block">
										<svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 13 13">
											<circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
											<circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
											<path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
											<path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
										</svg>
									</span>
                </h4>
                <ul> 
                  {%- for field in form.errors -%}
                    <li>
                      {%- if field == 'form' -%}
                        {{ form.errors.messages[field] }}
                      {%- else -%}
                        <a href="#RegisterForm-{{ field }}">
                          {{ form.errors.translated_fields[field] | capitalize }}
                          {{ form.errors.messages[field] }}
                        </a>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}

              <div class="flex flex-col mb-3 mt-1"> 
                <label for="RegisterForm-FirstName" class="sr-only tracking-widest">
                  First Name
                </label>     
                <input
                  type="text"
                  name="customer[first_name]"
                  id="RegisterForm-FirstName"
                  placeholder="First Name"
                  class="input"
                  {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
                  autocomplete="given-name"
                >
              
              </div>
              <div class="flex flex-col mb-3">
                <label for="RegisterForm-LastName" class="sr-only tracking-widest">
                  Last Name
                </label>
                <input
                  type="text"
                  name="customer[last_name]"
                  id="RegisterForm-LastName"
                  placeholder="Last Name"
                  {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
                  autocomplete="family-name"
                  class="input"
                >
              
              </div>
              <div class="flex flex-col mb-3">
                <label for="RegisterForm-email" class="sr-only tracking-widest">
                  Email
                </label>  
                <input
                  type="email"
                  name="customer[email]"
                  id="RegisterForm-email"
                  placeholder="Email"
                  {% if form.email %} value="{{ form.email }}"{% endif %}
                  spellcheck="false"
                  autocapitalize="off"
                  autocomplete="email"
                  aria-required="true"
                  class="input"
                  {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="RegisterForm-email-error"
                  {% endif %}
                >
              
              </div>
          
              {%- if form.errors contains 'email' -%}
                <span id="RegisterForm-email-error" class="form__message">
                  <svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 13 13">
										<circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
										<circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
										<path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
										<path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
									</svg>
                  {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
                </span>
              {%- endif -%}

              <div class="flex flex-col mb-6"> 
                <label for="RegisterForm-password" class="sr-only tracking-widest">
                  Password
                </label>    
                <input
                  type="password"
                  name="customer[password]"
                  id="RegisterForm-password"
                  aria-required="true"
                  placeholder="Password"
                  class="input"
                  {% if form.errors contains 'password' %}
                    aria-invalid="true"
                    aria-describedby="RegisterForm-password-error"
                  {% endif %}
                >
            
              </div>
          
              {%- if form.errors contains 'password' -%}
                <span id="RegisterForm-password-error" class="form__message">
                  <svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 13 13">
										<circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
										<circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
										<path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
										<path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
									</svg>
                  {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.
                </span>
              {%- endif -%}
              
              <button class="button justify-center w-full">
                Submit
              </button>

              <p class="my-4 text-sm tracking-widest block w-full text-center">
                Do you already have an account?
                <a href="{{ routes.account_login_url }}" class="link">
									Back to Login page
                </a>
              </p>
          {%- endform -%}

          </div>

      </div>
  </div>

</div>