<div class="container">
	<header class="flex pt-8 items-center justify-between">
		<!-- LOGO -->
		<a href="{{ shop.secure_url }}">
			{% if section.settings.logo %}
				{{ section.settings.logo | image_url: width:master | image_tag: loading:'lazy' }}
				{% else %}
					{{ shop.name }}
			{% endif %}
		</a>
		<div class="flex gap-10">
			<!-- NAVIGATION MENU -->
			<nav class="flex md:hidden gap-5">
				{% for link in linklists[section.settings.menu].links %}
					{% if link.links != blank %}
						{% assign link_handle = link.handle | replace: '-', '_' %}
						<div class="relative" x-data="{ {{ link_handle }}: false }">
							<button @click.stop="{{ link_handle }} = !{{ link_handle }}" class="inline-flex items-center">
								{{ link.title }}
								{% render 'icon-dropdown' %}
							</button>
							<div
								x-transition
								@click.outside="{{ link_handle }} = false"
								:class="{'hidden': !{{ link_handle }}}"
								class="hidden absolute z-10 -ml-5 transform px-2 w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2"
							>
								<div class="shadow-lg border ring-black ring-opacity-5 overflow-hidden rounded-lg">
									<div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
										{% for childlink in link.links %}
											<a href="{{ childlink.url }}" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-100">
												<div class="ml-4">
													<p class="text-gray-900 text-base font-medium">
														{{ childlink.title }}
													</p>
												</div>
											</a>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
						{% else %}
							<a href="{{ link.url }}" class="text-base text-gray-500 hover:text-gray-700">{{ link.title }}</a>
					{% endif %}
				{% endfor %}
			</nav>
			<!-- CART BUTTON / ACCOUNT LINKS If ENABLED -->
			<div class="flex gap-5">
				<button x-on:click="searchBarOpen = true" type="button" class="text-base text-gray-500 hover:text-gray-900">{% render 'icon-search' %}</button>
				{% if shop.customer_accounts_enabled %}
					<a href="{{ routes.account_url }}" class="text-base text-gray-500 hover:text-gray-900">
						{% render 'icon-user' %}
					</a>
				{% endif %}
				<a href="{{ routes.cart_url }}" class="text-base text-gray-500 hover:text-gray-900">{% render 'icon-shopping-bag' %}</a>
			</div>
		</div>
		<div class="hidden -order-1 w-5 bg-black md:block"><span></span></div>
	</header>
</div>

{% schema %}
	{ 
		"name": "Header",
		"settings": [
			{
				"type": "image_picker",
				"id": "logo",
				"label": "Logo"
			},
			{
				"type": "link_list",
				"id": "menu",
				"default": "main-menu",
				"label" : "Heading Navigation Menu"
			}
		]
	}
{% endschema %}