<header>
	<div class="container">
		<div class="header grid grid-cols-[1fr_2fr_1fr] items-center md:py-[40px] py-[20px]">
			<!-- Logo -->
			<div class="header__logo">
				{% if section.settings.logo != blank %}
					<a href="/">
						{{ section.settings.logo | image_url: width: 200 | image_tag: loading: 'lazy' }}
					</a>
					{% else %}
						<a href="/">
							{{ shop.name }}
						</a>
				{% endif %}
			</div>

			<!-- Navigation -->
			<div class="-order-1 md:relative md:order-none" x-data="{ showSearch: false }">
				<div 
					class="absolute -top-3 w-full bg-white z-10"
					x-transition
					x-cloak
					x-show="showSearch"
					@toggle-search.window="showSearch = !showSearch"
				>
					{% render 'search-input', class: 'hover:stroke-accent w-10' %}
				</div>
				{% render 'header-navigation' %}
			</div>

			<!-- Icons -->
			<div class="header__icons flex items-center justify-end md:gap-3 gap-0" x-data="{ cart_count: {{ cart.item_count }}, showSearch: false }">

				<button 
					type="button"
					title="Search button"
					class="hidden md:block"
					@click="$dispatch('toggle-search'); showSearch = !showSearch"
				>
					<div x-show="!showSearch">
						{% render 'icon-search', class: 'w-10 stroke-textColor hover:stroke-accent' %}
					</div>
					<div x-show="showSearch">
						{% render 'icon-close', class: 'w-5 scale-150 origin-right fill-textColor hover:fill-accent' %}
					</div>
				</button>

        {%- if shop.customer_accounts_enabled -%}
          <div class="account-menu-wrapper hidden md:block">
            <a href="{{ routes.account_url }}" 
              title="account link"
						>
              {% render 'icon-account', class: 'w-10 mx-auto stroke-textColor hover:stroke-accent' %}
            </a>
          </div>
        {%- endif -%}

				<div
      	  @cart-count-updated.window="cart_count = $event.detail"
				>
					<a
						title="Cart button"
						class="relative text-center group cursor-pointer"
						href="{{ routes.cart_url }}"
						{% comment %} @click.prevent="$dispatch('toggle-cart'), document.body.classList.add('overflow-hidden')" {% endcomment %}
					>
						{% render 'icon-cart', class: 'w-10 stroke-textColor group-hover:stroke-accent' %}
						<span x-text="cart_count" class="cart__count min-w-[22px] text-sm min-h-[22px] absolute grid place-content-center rounded-full -top-3 -right-1 text-white bg-black group-hover:bg-accent"> {{ cart.item_count }} </span>
					</a>
				</div>
				
      </div>

		</div>
	</div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}